<div>
    <div class="categories">
        <h1>Order Placed!</h1>
        <% @items. each do |i| %>
            <a id="category" class="list-group-item list-group-item-action">
                <h4 id="product">
                    <%= "(#{i.quantity})  " %>
                    <%= "#{i.product.name} : " %>
                    <%= "$#{i.product.price}" %>
                </h4>
            </a>
        <% end %>
        <a id="category" class="list-group-item list-group-item-action">
            <h2>Order Total: <%= "$#{@order_total}" %></h2>
        </a>
        <h6 class="backwards"> <%= link_to "View All Orders", order_path(current_user.id)%> </h6>
        <h6 class="backwards"> <%= link_to "Back to Cart", cart_path(current_user.id)%> </h6>
    </div>
</div>