<div>
    <div class="categories">
        <h1>Order placed</h1>
        <h4>for</h4>
        <% @items. each do |i| %>
            <a id="category" class="list-group-item list-group-item-action">
                <h4 id="product"> 
                    <%= i.product.name %>
                    <%= "(x#{i.quanity})" %>
                    <%= "$#{i.product.price}" %>
                </h4>
            </a>
        <% end %>
        <a id="category" class="list-group-item list-group-item-action">
            <h4>Order Total: <%= "$#{@order_total}" %></h4>
        </a>
        <h6 class="backwards"> <%= link_to "Back to Store", '/categories'%> </h6>
        <h6 class="backwards"> <%= link_to "Back to Cart", cart_path(current_user.id)%> </h6>
    </div>
</div>