<div>
    <div class="categories">
        <h1>Order Placed!</h1>
        <h2 class="ordered">Your Orders</h2>
            <% @ordered_items. each do |i| %>
                <a id="category" class="list-group-item list-group-item-action">
                    <h4 id="product"> 
                        <%= i.product.name %>
                        <%= "(x#{i.quantity})" %>
                        <%= "$#{i.product.price}" %>
                    </h4>
                    <h4><%= "Ordered @ #{i.created_at}" %></h4>
                </a>
            <% end %>
            <h6 class="backwards"> <%= link_to "Continue Shopping", categories_path%> </h6>
            <h6 class="backwards"> <%= link_to "Back to Home", root_path%> </h6>
    </div>
</div>